# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Folders
altre_ricette/

# *.pdf

# Scripts
push_changes_main.bat
pull_changes_main.bat
merge_dev_to_main.bat